@model IEnumerable<Quiz.Models.QuizClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach (var item in Model)
{
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        @*<div class="card-header">Header</div>*@
        <div class="card-body">
            <h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
            <p class="card-text">Difficulty: @Html.DisplayFor(modelItem => item.Difficulty)</p>
            @Html.ActionLink("Spelen", "StartGame", new { id = item.QuizId })
        </div>
    </div>
}